@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 16px;
    
}

ol {
    list-style: decimal;
    list-style-position: inside;
    margin: 5px;
    padding-left: 10px
}

ul {
    list-style: circle;
    list-style-position: inside;
    margin: 5px;
}

h1 {
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

@layer components {
    @variants responsive {
        .masonry {
            column-gap: 1.5em;
            column-count: 1;
        }

        .masonry-sm {
            column-gap: 1.5em;
            column-count: 2;
        }

        .masonry-md {
            column-gap: 1.5em;
            column-count: 3;
        }

        .break-inside {
            break-inside: avoid;
        }

    }
}