@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
    list-style: decimal;
    list-style-position: inside;
    margin: 5px;
    padding-left: 10px
}

ul {
    list-style: circle;
    list-style-position: inside;
    margin: 5px;
    padding-left: 10px
}